@import '@assets/scss/variable.scss';

.slide-left-bar {
  max-width: 65px !important;
  min-width: 65px !important;
  background-color: $main-color;
  position: relative;
  .icon-menu {
    position: absolute;
    font-size: 20px !important;
    color: #fff;
  }
  .side-bar-top,
  .side-bar-bottom {
    background-color: $main-color;
    border: none;
  }
  .menu-hover:hover {
    background-color: rgb(28, 27, 27) !important;
  }

  .icon-home-page {
    width: 35px;
  }

  .ant-menu-item-selected {
    background-color: #fff !important;
    a,
    span,
    svg {
      color: $main-color !important;
    }
  }
}

.popup_preview_header {
  padding: 8px;
  .title {
    font-weight: bold;
    font-size: 24px;
  }

  .notification-header-menu {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.popup_preview_body {
  padding: 0 8px;
}

.action-icon {
  padding: 0 4px;
}

.notification_list {
  .notification {
    min-height: 112px;
    display: flex;
    font-size: 14px;
    transition: background-color 0.1s ease-in-out;
    margin: 2px 0px;
    border-radius: 8px;
    justify-content: space-between;
    position: relative;
  }

  .notification.opened:hover {
    background-color: #e5f4ff;
  }

  a {
    display: flex;
    text-decoration: none;
    padding: 16px 8px;
    width: 100%;
  }
  .notification-creator {
    height: 60px;
    width: 60px;
    min-height: 60px;
    min-width: 60px;

    .person-bullet-component {
      height: 100%;
      width: 100%;
      border: 1px solid;
      border-color: #fff;
    }
  }

  .content {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    margin-left: 16px;
    color: #323338;

    .header {
      font-weight: bold;
      .time {
        margin-left: 4px;
        font-weight: 300;
      }
    }
    .body {
      margin-top: 6px;
    }
    .footer {
      margin-top: 8px;
      display: flex;
      align-items: center;
    }
  }
}

.ds-menu-section {
  padding: 8px;
  width: 220px;
  .ds-menu-item {
    line-height: 24px;
    display: flex;
    align-items: center;
    padding: 4px 8px;
    cursor: pointer;
    color: #323338;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0px;
    white-space: nowrap;
    border-radius: 4px;
    text-decoration: none;

    .ds-content-wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;

      .ds-content-title-content-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        .ds-icon {
          flex: 0 0 16px;
          margin-right: 8px;
        }

        .ds-title {
          flex: 1;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }

  .ds-menu-item:not(.disabled):not(.non-clickable):hover {
    color: #323338;
    background-color: #e6e9ef;
  }
}

.ant-popover-inner-content {
  padding: 0px !important;
}

.notification:hover .right-pane {
  visibility: visible;
}

.notification .right-pane {
  width: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  visibility: hidden;
  padding: 4px;
}

.notification .right-pane .buttons {
  display: flex;
  align-self: flex-end;
  align-items: center;
  margin-top: auto;
  margin-bottom: 6px;
}

.theme-hover:hover {
  color: #0085ff;
}

.pointer:hover {
  cursor: pointer;
}

.ant-popover-inner {
  border-radius: 8px;
}

.bs-popover-auto {
  max-width: 570px !important;
}

.flex-jcenter {
  display: flex;
  align-items: center;
}

.activity-modal-setting {
  .ant-drawer-content,
  .ant-drawer-body {
    padding: 0px !important;
    overflow: unset !important;
  }
  .ant-drawer-content-wrapper {
    width: 40vw !important;
  }

  .activity-modal-setting__close-icon {
    position: absolute;
    left: -30px;
    top: 10px;
    padding: 5px;
    background: #fff;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}
