@import 'assets/scss/variable.scss';

.header-container {
  background-color: $main-color;
  height: 60px;
  line-height: 60px;
  .header-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > div {
      height: 100%;
    }

    .header__title-icon {
      display: flex;
      align-items: center;
    }

    .header__action {
      display: flex;
      align-items: center;
      .header__action-item {
        color: #fff;
        margin: 15px;
      }
    }
  }
}
