@import 'assets/scss/variable.scss';

.group-authorization-container {
  .group-authorization-toolbar {
    // margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // height: 25px;
    margin-bottom: 10px;
    .group-authorization-title {
      font-weight: bold;
      color: $primary-color;
    }
  }
}

.modal-add-group-wrapper {
  .modal-add-group-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.group-authorization-add-member {
  &:hover {
    opacity: 0.7;
  }
  cursor: pointer;
  padding: 3px 5px;
  border-radius: 4px;
  background-color: $primary-color;
  color: #fff;
}

.user-authorization-btn-add-group {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  padding-right: 25px;
  padding-bottom: 20px;
}

.group-item-to-add-wrapper {
  height: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: 1px solid $primary-color;
  &:hover {
    // border: 1px dashed $background-field;
  }
  .group-item-to-add-block {
    // position: absolute;
    height: 34px;
    width: 10px;
    background-color: $primary-color;
  }
  .group-item-to-add-name {
    width: 100%;
    margin-left: 3px;
    margin-right: 3px;
    height: 25px;
    border: 1px solid transparent;
    &:focus {
      outline: 0px solid transparent;
      border: 1px dashed $background-field;
    }

    &:not(.group-item-to-add-name-disable):hover {
      border: 1px dashed $background-field;
    }
  }

  .group-item-to-add-checkbox {
    //   position: absolute;
    //   right: 8px;
    padding: 2px;
  }
}
