.single-select-label {
    color: #95999c;
    &.label-required::before {
        content: "*";
        color: rgb(173, 96, 96);
    }
}

.single-select-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
